.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font: 110%/1 'Lato', Calibri, Arial, sans-serif;
  background-color: #000040;
}

body {
  width: 40rem;
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
  color: white;
  background-color: #000033;
  border: 2px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 25px 25px 25px 0px rgba(11,15,24,1);
  -moz-box-shadow: 25px 25px 25px 0px rgba(11,15,24,1);
  box-shadow: 25px 25px 25px 0px rgba(11,15,24,1);
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

